# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
.eggs/

# venv
.venv/
venv/
env/
# safety net for accidental venvs created via `python -m venv <typo>`
**/pyvenv.cfg

# tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
.tox/
.nox/

# editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# project
*.log
.env
.env.local
*.local
